
.letter-space-bg{
    background-image: url(../images/bg07.png);
    background-repeat: repeat;
    background-position: auto;
}

.input-group{
    padding: 10px;
    text-align: center;
}


input{
    padding-left: 8px;
    margin: 3px;
    border-radius: 5px;
    border:2px solid #3d7944;
    line-height: 30px;
    color: rgb(0, 0, 0)
}
textarea{
    border-radius: 5px;
    padding: 5px;
    border:2px solid #3d7944;
    color: gray;
}


.btn-primary{
    background-color: #3d7944;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: 250px;
    line-height: 40px;
}

.btn-primary:hover{
    background-color: #3d7944c8;
    
}

// 小於等於767 手機
@media (max-width: 767px){
    h2{
        display: none;
    }
    .form{   
        margin-bottom: 20px;
    }
    input[type=text]{
        width: 80%; 
    }
    
    textarea{
        width: 80%;
    }
    p{
        padding: 0 35px 0 35px;
        margin-bottom: 10px;
        line-height: 25px;
    }
    
}

//視窗大於768px
@media(min-width:768px){
    p{
        text-align: center;
        padding-bottom: 20px;
    }
    form .title-img{
        display: none;
    }

    .form{   
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-radius: 5px;
        margin-left: 10%;
        margin-right: 10%;
    
    }
    input[type=text]{
        width: 30%;

    }

    textarea{
        width: 62%;
    }
}