$primary-color: rgb(61, 121, 68);


*{
    margin: 0;
    padding: 0;
    font-family: 'Microsoft JhengHei' ,'STHeiti';
}

img{
    vertical-align: top;
}
ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
}

.container{
    width: 90%;
    margin: auto;
    max-width: 1140px;
}

.row{
    display: flex;
    flex-wrap: wrap; /*換行*/
}


.logo-wrapper{
    display: flex;
    justify-content: space-between;
    // position: relative;
}

.logo-wrapper img{
    max-width: 150px;
    // height: 100%;

}
.logo-wrapper span{
    width: 111px;
    // height: 100%;

}
header .icon-wrapper{
    display: flex;
    justify-content: flex-end;
    // position: absolute;
    // left: 70px;
    // top: 95px;
}

header .icon-wrapper img{
width: 22px;
padding-top: 10px;
padding-left: 10px;
padding-right: 5px;
}

header nav{
width: 100%;
height: 55px;
background-color: rgb(61, 121, 68);
}

header nav>ul{
display: flex;
justify-content: space-between;
}
    
header nav>ul>li>a{
font-size: 16px;
line-height: 55px;
color: rgb(255, 255, 255);
letter-spacing: 2px;
}
    
header nav>ul>li>a:hover{
color: rgb(113, 173, 120);
}

//視窗大於768px
@media(min-width:768px){
    header{
        margin-bottom: 30px;
    }

    header>.row nav{
        width: 100%;
    }
    .icon-menu{
        display: none;
    }
    .menu-logo{
        display: none;
    }
    header>.row nav>ul>li{
        position: relative;
    }

    .submenu{
        position: absolute;
        background: rgba(61, 121, 68,0.7);
        left: 0px;
        top: 50px;
        width: 55px;
        padding: 10px;
        display: none;
        z-index: 1;
    }

    .submenu>li{
        line-height: 40px;
    }

    .submenu>li>a{
        color: white;
    }

    header>.row nav>ul>li:hover .submenu{
        display: block;
    }


}//大於768px end

@for $i from 1 through 12 {
    .col-#{$i}{
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 0px 15px;
    }
}

@media (min-width:768px){
    @for $i from 1 through 12 {
        .col-md-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 0px 15px;
        }
    }
} // 768px end

@media (min-width:1200px){
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 0px 15px;
        }
    }
} // 1200px end

@media (min-width:768px){
    .order-md-1{
        order:-1;
    }
}

// 左邊界位移
@media (min-width:768px){
    @for $i from 1 through 12 {
        
        .offset-md-#{$i}{
            --ml-num: calc(12 / #{$i});
            margin-left: calc(100% / var(--ml-num));
        }
    }
} //ml 768 end

// $i index
// for迴圈
// from through 從 1 開始到 3

@for $i from 1 through 5 {
    .mb-#{$i}{
        margin-bottom: $i * 1em;
    }
}
@media (min-width:768px){
    .mb-md-0{
        margin-bottom: 0;
    }
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.img-wrap{
    display: block;
    position: relative;
    overflow: hidden;
}

.img-wrap img:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    opacity: 0.8;
}


.img-wrap img{
vertical-align: top;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

//*文字相關樣式*//

.text-center {
    text-align: center;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-justify {
    text-align: justify;
  }
  //*文字相關樣式結束*//

#banner{
    display: flex;
    overflow: hidden;
}

//main樣式
.img-floor{
    padding-bottom: 2%;
    margin-bottom: 30px;
    background-image: url(../images/floor.png);
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 100%;
}

.img-store{
    display: flex;
    justify-content:center;
    margin: 20px 0px ;
    position: relative;
}

.img-mailbox{
    position: absolute;
    bottom: 0;
    left: 100px;
}

.img-mailbox:hover{
    transform: rotate(-5deg);
}
.img-grandpa{
    position: absolute;
    bottom: 0px;
    right: 100px;
}

.img-grandpa:hover{
    transform: rotate(8deg);
}
.title-img{
    display: flex;
    justify-content:center;
}
.title-img img{
    margin-top: 30px;
    margin-bottom: 10px;
    width: 220px;
}
.story-wrapper{
    width: 100%;
    display: flex;
    overflow: hidden;
}

.story-bg:nth-child(even){
    margin-top: 80px;
}

.story-bg{
    position: relative;
}

.story-bg>img{
    margin: 10px;
}

.story-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 380px;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}

.story-text-odd{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 380px;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}


.story-text,.story-text-odd>span{
    font-size: 20px;
    padding-top: 15px;
}

.brand-recommended {
    background-color: #FAF6BA;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 40px;
}

.brand-recommended h2{
    font-size: 32px;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    padding-top: 30px;
    font-size: 32px;
    text-align: center;
    padding-bottom: 20px;
    letter-spacing: 1px;
  }

//footer樣式

footer{
    color: white;
    background-color: rgb(61, 121, 68);
    padding-top: 30px;
    padding-bottom: 30px;
}

footer img{
    width: 200px;
}

dt{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}
dd a,dd p{
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
}


//*麵包屑樣式*//

.breadcrumb {
    margin: 0px 0px 20px 0px;
    color: #999999;
    width: 100%;
  }
  
  .breadcrumb > a {
    color: $primary-color;
  }

//*麵包屑樣式*//
