@media (max-width: 767px) {
  .tab-link > a {
    line-height: 30px;
  }

  .bgc-img h2 {
    display: none;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .bgc-img img {
    margin: 10px 0;
    width: 125%;
  }

  .margin50 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .tab-link > a {
    line-height: 45px;
  }

  .bgc-img h2 {
    font-size: 32px;
  }

  .bgc-img .title-img {
    display: none;
  }

  h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .bgc-img p {
    font-size: 24px;
  }

  .margin50 {
    margin-top: 50px;
    margin-bottom: 0px;
  }
}
.tab-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab-link > a {
  text-decoration: none;
  width: 20%;
  margin: 2%;
  margin-bottom: 0px;
  display: block;
  text-align: center;
  color: white;
  background-color: #328A3D;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tab-link > a.active {
  background-color: #FAF7BD;
  color: black;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.bgc-yellow {
  background-color: #FAF7BD;
}

.bgc-img {
  background-color: #fff;
  padding: 30px;
  padding-top: 10px;
  background-image: url(../images/bg05.png);
  background-repeat: repeat;
}

.bgc-img1 {
  background-color: #fff;
  padding: 30px;
  background-image: url(../images/bg05.png);
  background-repeat: repeat;
  display: flex;
  justify-content: center;
}

.bgc-img h2 {
  padding-top: 20px;
  text-align: center;
}

.bgc-img p {
  margin-bottom: 20px;
  text-align: justify;
}

.news-content {
  width: 90%;
}

.bgc-img > .row > .img-flex img {
  width: 80%;
}

.row {
  align-items: center;
}

.img-flex {
  display: flex;
  justify-content: center;
}