@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1140px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.logo-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.logo-wrapper img {
  max-width: 150px;
}

header .icon-wrapper {
  display: flex;
  justify-content: flex-end;
}

header .icon-wrapper img {
  width: 22px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 5px;
}

header nav {
  width: 100%;
  height: 55px;
  background-color: #3d7944;
}

header nav > ul {
  display: flex;
  justify-content: space-between;
}

header nav > ul > li > a {
  font-size: 16px;
  line-height: 55px;
  color: white;
  letter-spacing: 2px;
}

header nav > ul > li > a:hover {
  color: #71ad78;
}

@media (min-width: 768px) {
  header {
    margin-bottom: 30px;
  }

  header > .row nav {
    width: 100%;
  }

  .icon-menu {
    display: none;
  }

  .menu-logo {
    display: none;
  }

  header > .row nav > ul > li {
    position: relative;
  }

  .submenu {
    position: absolute;
    background: rgba(61, 121, 68, 0.7);
    left: 0px;
    top: 50px;
    width: 55px;
    padding: 10px;
    display: none;
  }

  .submenu > li {
    line-height: 40px;
  }

  .submenu > li > a {
    color: white;
  }

  header > .row nav > ul > li:hover .submenu {
    display: block;
  }
}
.col-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

.col-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 40px 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

#banner {
  display: flex;
  overflow: hidden;
}

.img-store {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  position: relative;
}

.img-mailbox {
  position: absolute;
  left: 110px;
  bottom: 0px;
}

.img-grandpa {
  position: absolute;
  bottom: 0px;
  right: 100px;
}

.title-img {
  display: flex;
  justify-content: center;
}

.title-img img {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 220px;
}

.story-wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.story-bg:nth-child(even) {
  margin-top: 80px;
}

.story-bg {
  position: relative;
}

.story-bg > img {
  margin: 10px;
}

.story-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 380px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.story-text-odd {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 380px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.story-text, .story-text-odd > span {
  font-size: 20px;
  padding-top: 15px;
}

footer {
  color: white;
  background-color: #3d7944;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer img {
  width: 200px;
}

dt {
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

dd a, dd p {
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  margin-bottom: 5px;
}

.breadcrumb {
  margin: 0px 0px 20px 0px;
  color: #999999;
  width: 100%;
}

.breadcrumb > a {
  color: #3d7944;
}