@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft JhengHei", "STHeiti";
}

img {
  vertical-align: top;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1140px;
}

.img-rounded {
  /*圓角*/
  border-radius: 5px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*換行*/
}

.col-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

.col-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 0px 15px 0px 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-md-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }

  .col-lg-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
  }
}
@media (min-width: 768px) {
  .order-md-1 {
    order: -1;
  }
}
@media (min-width: 768px) {
  .offset-md-1 {
    --ml-num: calc(12 / 1);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-2 {
    --ml-num: calc(12 / 2);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-3 {
    --ml-num: calc(12 / 3);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-4 {
    --ml-num: calc(12 / 4);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-5 {
    --ml-num: calc(12 / 5);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-6 {
    --ml-num: calc(12 / 6);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-7 {
    --ml-num: calc(12 / 7);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-8 {
    --ml-num: calc(12 / 8);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-9 {
    --ml-num: calc(12 / 9);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-10 {
    --ml-num: calc(12 / 10);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-11 {
    --ml-num: calc(12 / 11);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-12 {
    --ml-num: calc(12 / 12);
    margin-left: calc(100% / var(--ml-num));
  }
}
@media (min-width: 768px) {
  .offset-md-1 {
    --ml-num: calc(12 / 1);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-2 {
    --ml-num: calc(12 / 2);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-3 {
    --ml-num: calc(12 / 3);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-4 {
    --ml-num: calc(12 / 4);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-5 {
    --ml-num: calc(12 / 5);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-6 {
    --ml-num: calc(12 / 6);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-7 {
    --ml-num: calc(12 / 7);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-8 {
    --ml-num: calc(12 / 8);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-9 {
    --ml-num: calc(12 / 9);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-10 {
    --ml-num: calc(12 / 10);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-11 {
    --ml-num: calc(12 / 11);
    margin-left: calc(100% / var(--ml-num));
  }

  .offset-md-12 {
    --ml-num: calc(12 / 12);
    margin-left: calc(100% / var(--ml-num));
  }
}
.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mb-5 {
  margin-bottom: 5em;
}

@media (min-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0;
  }
}
header {
  padding: 10px 0px;
}

@media (max-width: 767px) {
  .logo-wrapper {
    display: flex;
    justify-content: left;
  }

  .logo-wrapper img {
    max-width: 200px;
    margin-right: 20px;
  }

  .logo-wrapper span {
    width: 0;
  }

  header .icon-wrapper {
    display: flex;
    align-items: center;
  }

  header .icon-wrapper img {
    width: 25px;
    padding-left: 0px;
    padding-right: 25px;
  }

  header {
    position: relative;
  }

  nav {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 1;
    left: 0;
    top: 61px;
  }

  nav.active {
    display: block;
  }

  nav li {
    line-height: 60px;
  }

  nav a {
    background-color: #3d7944;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    color: white;
    letter-spacing: 2px;
  }

  header {
    margin-bottom: 30px;
    border-bottom: 1px solid #c8c8c8;
  }

  .icon-menu {
    background-color: #3d7944;
    border-radius: 3px;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
  }

  .icon-menu img {
    width: 35px;
    height: 35px;
  }

  .submenu {
    display: none;
  }

  .submenu.active {
    display: block;
  }
}
@media (min-width: 768px) {
  .logo-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .logo-wrapper img {
    max-width: 150px;
  }

  .logo-wrapper span {
    width: 111px;
  }

  header .icon-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  header .icon-wrapper img {
    width: 22px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
  }

  header nav {
    width: 100%;
    height: 55px;
    background-color: #3d7944;
  }

  header nav > ul {
    display: flex;
    justify-content: space-between;
  }

  header nav > ul > li > a {
    font-size: 16px;
    line-height: 55px;
    color: white;
    letter-spacing: 2px;
  }

  header nav > ul > li > a:hover {
    color: #71ad78;
  }

  header {
    margin-bottom: 30px;
  }

  header > .row nav {
    width: 100%;
  }

  .icon-menu {
    display: none;
  }

  .menu-logo {
    display: none;
  }

  header > .row nav > ul > li {
    position: relative;
  }

  .submenu {
    position: absolute;
    background: rgba(61, 121, 68, 0.7);
    left: 0px;
    top: 50px;
    width: 55px;
    padding: 10px;
    display: none;
    z-index: 1;
  }

  .submenu > li {
    line-height: 40px;
  }

  .submenu > li > a {
    color: white;
  }

  header > .row nav > ul > li:hover .submenu {
    display: block;
  }
}
.img-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.img-wrap img:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  opacity: 0.8;
}

.img-wrap img {
  vertical-align: top;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.img-floor {
  padding-bottom: 2%;
  margin-bottom: 30px;
  background-image: url(../images/floor.png);
  background-repeat: no-repeat;
  background-position: bottom;
  max-width: 100%;
}

.img-store {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  position: relative;
}

.img-mailbox {
  position: absolute;
  bottom: 0;
  left: 100px;
}

.img-mailbox:hover {
  transform: rotate(-5deg);
}

.img-grandpa {
  position: absolute;
  bottom: 0px;
  right: 100px;
}

.img-grandpa:hover {
  transform: rotate(8deg);
}

.title-img {
  display: flex;
  justify-content: center;
}

.title-img img {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 220px;
}

.story-wrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.story-bg:nth-child(even) {
  margin-top: 80px;
}

.story-bg {
  position: relative;
}

.story-bg > img {
  margin: 10px;
}

.story-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 380px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.story-text-odd {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 380px;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.story-text, .story-text-odd > span {
  font-size: 20px;
  padding-top: 15px;
}

.brand-recommended {
  background-color: #FAF6BA;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 40px;
}

.brand-recommended h2 {
  font-size: 32px;
  padding-top: 30px;
  text-align: center;
}

h2 {
  padding-top: 30px;
  font-size: 32px;
  text-align: center;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

footer {
  color: white;
  background-color: #3d7944;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer img {
  width: 200px;
}

dt {
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

dd a, dd p {
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  margin-bottom: 5px;
}

.breadcrumb {
  margin: 0px 0px 20px 0px;
  color: #999999;
  width: 100%;
}

.breadcrumb > a {
  color: #3d7944;
}

.page-top {
  position: fixed;
  bottom: 10px;
  background-color: rgba(148, 136, 3, 0.607);
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  display: block;
  text-align: center;
  color: white;
  right: -60px;
  transform: rotate(0deg);
  transition: all 0.3s;
}

.page-top.active {
  right: 10px;
  transform: rotate(360deg);
}

.banner-parent {
  /*可視範圍*/
  width: 1140px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.banner-child {
  /*圖片寬X個數*/
  width: 2280px;
  /*去除行內空白，文字大小為0*/
  font-size: 0;
}

.banner-parent img {
  /*寬同父層*/
  width: 1140px;
}

.left-arrow > img, .right-arrow > img {
  width: 30px;
}

.left-arrow, .right-arrow {
  cursor: pointer;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}