doctype html
head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 關於我們|綠。文具坊
    link(rel='stylesheet' href='public/css/style.css')
body 
    //頁首開始
    header 
        .row
            //- a#btn-nav-toggle.icon-menu(href="#") menu
            .container
                ul.icon-wrapper 
                    li
                        a(href="#")
                            img(src="public/images/search.png", alt="搜尋")
                    li
                        a(href="#")
                            img(src="public/images/user.png", alt="會員中心")
                    li
                        a(href="#")
                            img(src="public/images/shopping-cart.png", alt="購物車")
            .logo-wrapper.container
                a(href="index.html" )
                    img(src="public/images/logo01.png", alt="綠。文具坊")
            nav 
                ul.container 
                    li 
                        a(href="#") 關於我們
                    li 
                        a(href="#") 最新消息
                    li 
                        a(href="#") 產品類別
                        ul.submenu 
                            li 
                                a(href="#") 紙製品
                            li 
                                a(href="#") 文具
                            li 
                                a(href="#") 雜貨
                            li 
                                a(href="#") 童玩
                    li 
                        a(href="#") 寫信空間
    //頁首結尾