doctype html
head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 綠。文具坊
    link(rel='stylesheet' href='public/css/style.css')
    link(rel="shortcut icon",href="public/images/favicon.ico")
    link(rel="stylesheet" href="public/js/WOW-master/css/libs/animate.css")
  
body 
    //頁首開始
    header 
        .row
            .logo-wrapper.container
                span 
                a(href="index.html" )
                    picture
                        source.img-fluid(srcset="public/images/logo03.png" media="(max-width: 767px)")
                        img(src="public/images/logo01.png", alt="綠。文具坊")
                ul.icon-wrapper 
                    li
                        a(href="#")
                            img(src="public/images/search.png", alt="搜尋")
                    li
                        a(href="login.html")
                            img(src="public/images/user.png", alt="會員中心")
                    li
                        a(href="#")
                            img(src="public/images/shopping-cart.png", alt="購物車")
            
            a#btn-nav-switch.icon-menu.display-md-none(href="javascript:;")
                img(src="public/images/menu.png", alt="")
            
            nav 
                ul.container 
                    li 
                        a(href="about-us.html") 關於我們
                    li 
                        a(href="news.html") 最新消息
                    li 
                        a(href="javascrip:;") 產品類別
                        ul.submenu 
                            li 
                                a(href="product-list.html") 紙製品
                            li 
                                a(href="product-list.html") 文具
                            li 
                                a(href="product-list.html") 雜貨
                            li 
                                a(href="product-list.html") 童玩
                    li 
                        a(href="letter-space.html") 寫信空間
    //頁首結尾
    .container
        #banner
            .banner-parent
                .banner-child
                    img.img-fluid(src='public/images/banner01.png' alt='故事時光|2022 手帳展')
                    img.img-fluid(src='public/images/banner02.png' alt='南國的孩子 紙膠帶|NEW IN!')
                .left-arrow 
                    img(src="public/images/left-arrow.png", alt="")
                .right-arrow 
                    img(src="public/images/right-arrow.png", alt="")
    
    main.img-floor.product-section-1
            .container
                .img-store
                    a(href="#") 
                        img.img-fluid(src="public/images/store.png", alt="綠。文具坊|產品類別")
                    .img-mailbox
                        a(href="#") 
                            img.animated.wow.bounceInLeft.img-fluid(src="public/images/mailbox.png", alt="綠。文具坊|寫信空間")
                    .img-grandpa
                        a(href="about-us.html") 
                            img.animated.wow.bounceInRight.img-fluid(src="public/images/grandpa.png", alt="綠。文具坊|關於我們")
            
    section
        .container
            h2 ･✐･　故事時光　･✐･
        .story-wrapper
            .story-bg
                img(src="public/images/storybg01.png", alt="")
                .story-text-odd
                    span To 每個人
                    span 麥克風是我的樹洞，讓我把無人知曉、不能說的心事，唱進歌裡，得以傾吐，在這個不容易的世代，我要祝福每一個人，希望你們找到屬於你們的樹洞，身心安適、一切安好。
                    span.text-right Hebe
            .story-bg
                img(src="public/images/storybg02.png", alt="")
                .story-text
                    span To 夏天出生的小盒
                    br
                    span 陽光很盛，但總有適時的微風；夏夜很暗，但總有點點螢火；冰糕很涼，但總有絲絲的香甜；蟬鳴有力，但總有心安的聲音。我覺得他們全都很有趣，也全都很像你，願你可以像夏天一樣精彩熱烈，繼續滿懷期待的迎接每一個夏天。
                    span.text-right MJQ
            .story-bg
                img(src="public/images/storybg01.png", alt="")
                .story-text-odd
                    span To 每個人
                    span 麥克風是我的樹洞，讓我把無人知曉、不能說的心事，唱進歌裡，得以傾吐，在這個不容易的世代，我要祝福每一個人，希望你們找到屬於你們的樹洞，身心安適、一切安好。
                    span.text-right Hebe
            .story-bg
                img(src="public/images/storybg02.png", alt="")
                .story-text
                    span To 夏天出生的小盒
                    br
                    span 陽光很盛，但總有適時的微風；夏夜很暗，但總有點點螢火；冰糕很涼，但總有絲絲的香甜；蟬鳴有力，但總有心安的聲音。我覺得他們全都很有趣，也全都很像你，願你可以像夏天一樣精彩熱烈，繼續滿懷期待的迎接每一個夏天。
                    span.text-right MJQ
            .story-bg
                img(src="public/images/storybg01.png", alt="")
                .story-text
                    span To 每個人
                    br
                    span 麥克風是我的樹洞，讓我把無人知曉、不能說的心事，唱進歌裡，得以傾吐，在這個不容易的世代，我要祝福每一個人，希望你們找到屬於你們的樹洞，身心安適、一切安好。
                    span.text-right Hebe

        section.brand-recommended 
            .container 
                h2 ･✧･　精選品牌　･✧･
                .row
                    .col-12.col-md-4
                        a.img-wrap(href="#") 
                            img.img-fluid(src="public/images/brand-recommended01.png", alt="")
                    .col-12.col-md-4
                        a.img-wrap(href="#") 
                            img.img-fluid(src="public/images/brand-recommended02.png", alt="")
                    .col-12.col-md-4
                        a.img-wrap(href="#") 
                            img.img-fluid(src="public/images/maoflower.png", alt="")

    // 頁尾開始
    footer
        .container
            .row
                dl.col-12.col-md-3.text-left
                    dt 
                        dd
                            img(src="public/images/logo02.png", alt="綠。文具坊")
                        dd 
                            p Copyright © 2022 綠。文具坊
                        dd 
                            p 僅做為課程練習使用，不做任何商業行為。
                dl.col-12.col-md-3.text-left
                    dt 
                        dd 
                            p 地址：彰化縣彰化市光復路
                        dd 
                            p 營業時間：14:00~20:00(不定時公休)
                dl.col-12.col-md-3.text-left
                    dt HOW TO SHOP
                        dd 
                            a(href="fqa.html") 購物說明
                        dd 
                            a(href="fqa.html") 常見問題
                        dd 
                            a(href="#") 聯絡我們
                dl.col-12.col-md-3.text-left
                    dt ABOUT US
                        dd 
                            a(href="about-us.html") 品牌故事
                        dd 
                            a(href="#") 條款與細則
                        dd 
                            a(href="#") 隱私權政策


    a.page-top(href="javascript:;") top
    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
    script(src="public/js/wow.min.js/dist/wow.min.js")
    script(src="public/js/fqa-script.js") 
