doctype html
head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 會員中心|綠。文具坊
    link(rel='stylesheet' href='public/css/login-style.css')
    link(rel='stylesheet' href='public/css/style.css')
    link(rel="shortcut icon",href="public/images/favicon.ico")
body 
    //頁首開始
    header 
        .row
            .logo-wrapper.container
                span 
                a(href="index.html" )
                    picture
                        source.img-fluid(srcset="public/images/logo03.png" media="(max-width: 767px)")
                        img(src="public/images/logo01.png", alt="綠。文具坊")
                ul.icon-wrapper 
                    li
                        a(href="#")
                            img(src="public/images/search.png", alt="搜尋")
                    li
                        a(href="login.html")
                            img(src="public/images/user.png", alt="會員中心")
                    li
                        a(href="#")
                            img(src="public/images/shopping-cart.png", alt="購物車")
            
            a#btn-nav-switch.icon-menu.display-md-none(href="javascript:;")
                img(src="public/images/menu.png", alt="")
            
            nav 
                ul.container-nav
                    li 
                        a(href="about-us.html") 關於我們
                    li 
                        a(href="news.html") 最新消息
                    li 
                        a(href="javascrip:;") 產品類別
                        ul.submenu 
                            li 
                                a(href="product-list.html") 紙製品
                            li 
                                a(href="product-list.html") 文具
                            li 
                                a(href="product-list.html") 雜貨
                            li 
                                a(href="product-list.html") 童玩
                    li 
                        a(href="letter-space.html") 寫信空間
    //頁首結尾
    .container
      .row
        // 麵包屑
        .breadcrumb.col-12
          a(href='index.html') 首頁
          span  > 
          a(href='login.html') 會員中心

        .login.section-1
            img.img-fluid(src="public/images/login.png", alt="")
            .form.col-12
                form(action='dashbord.html' method='POST')
                    h2 會員登入
                    .input-group
                        .label
                            label(type='email') 電子郵件
                        .input
                            input(type='email')
                    .input-group
                        .label
                            label(type='password') 密碼
                        .input
                            input(type='password')
                            a.text-right(href="#") 忘記密碼 
                    .submit
                        input.button(type='submit' value='登入')
                        a.text-right(href="#") 註冊會員  

            
    // 頁尾開始
    footer
        .container
            .row
                dl.col-12.col-md-3.text-left
                    dt 
                        dd
                            img(src="public/images/logo02.png", alt="綠。文具坊")
                        dd 
                            p Copyright © 2022 綠。文具坊
                        dd 
                            p 僅做為課程練習使用，不做任何商業行為。
                dl.col-12.col-md-3.text-left
                    dt 
                        dd 
                            p 地址：彰化縣彰化市光復路
                        dd 
                            p 營業時間：14:00~20:00(不定時公休)
                dl.col-12.col-md-3.text-left
                    dt HOW TO SHOP
                        dd 
                            a(href="fqa.html") 購物說明
                        dd 
                            a(href="fqa.html") 常見問題
                        dd 
                            a(href="#") 聯絡我們
                dl.col-12.col-md-3.text-left
                    dt ABOUT US
                        dd 
                            a(href="about-us.html") 品牌故事
                        dd 
                            a(href="#") 條款與細則
                        dd 
                            a(href="#") 隱私權政策

    a.page-top(href="javascript:;") top
    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
    script(src="public/js/WOW-master/dist/wow.min.js")
    script(src="public/js/fqa-script.js") 
