doctype html
head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 最新消息|綠。文具坊
    link(rel='stylesheet',href='public/css/style.css')
    link(rel="stylesheet", href="public/css/news.css")
    link(rel="shortcut icon",href="public/images/favicon.ico")
    link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
    
body 
    //頁首開始
    header 
        .row
            .logo-wrapper.container
                span 
                a(href="index.html" )
                    picture
                        source.img-fluid(srcset="public/images/logo03.png" media="(max-width: 767px)")
                        img(src="public/images/logo01.png", alt="綠。文具坊")
                ul.icon-wrapper 
                    li
                        a(href="#")
                            img(src="public/images/search.png", alt="搜尋")
                    li
                        a(href="login.html")
                            img(src="public/images/user.png", alt="會員中心")
                    li
                        a(href="#")
                            img(src="public/images/shopping-cart.png", alt="購物車")
            
            a#btn-nav-switch.icon-menu.display-md-none(href="javascript:;")
                img(src="public/images/menu.png", alt="")
            
            nav 
                ul.container 
                    li 
                        a(href="about-us.html") 關於我們
                    li 
                        a(href="news.html") 最新消息
                    li 
                        a(href="javascrip:;") 產品類別
                        ul.submenu 
                            li 
                                a(href="product-list.html") 紙製品
                            li 
                                a(href="product-list.html") 文具
                            li 
                                a(href="product-list.html") 雜貨
                            li 
                                a(href="product-list.html") 童玩
                    li 
                        a(href="letter-space.html") 寫信空間
    //頁首結尾
    .container
      .row
        // 麵包屑
        #tab-breadcrumb1.tab-content.active.breadcrumb.col-12
          a(href='index.html') 首頁
          span  > 
          a(href='fqa.html') 最新消息
          span  > 
          a(href='#') 公休日
        #tab-breadcrumb2.tab-content.tab-content.breadcrumb.col-12
          a(href='index.html') 首頁
          span  > 
          a(href='fqa.html') 最新消息
          span  > 
          a(href='#') 展覽訊息

          
    .tab-link 
        a.active(href="#tab1,#tab-breadcrumb1") 公休日
        a(href="#tab2,#tab-breadcrumb2") 展覽訊息

    .bgc-yellow
        .container
            img.margin50.img-fluid(src="public/images/green.png", alt="")
            #tab1.tab-content.active
                .bgc-img1
                    img.img-fluid(src="public/images/date.png", alt="")
            #tab2.tab-content 
                .bgc-img
                    .row
                        .col-12
                            h2 ･✐･故事時光 - 2022手帳展･✐･
                    .row
                        .col-12.col-md-6.img-flex
                            img(src="public/images/news01.png", alt="")
                        .col-12.col-md-6
                            .news-content
                                h3 展覽日期
                                p 2022/07/01 ~ 2022/07/03
                                h3 展覽名稱
                                p 故事時光 - 2022手帳展
                                h3 展覽介紹
                                p 本次手帳展總共邀請了八位手帳達人，共同展出他們的私人手帳，希望透過這個活動讓每位手帳人都能一窺達人們的手帳。
                        img.img-fluid.margin50(src="public/images/line01.png", alt="")
                    .row
                        .col-12
                            h2 ･✧･　2022貼紙大亂鬥　･✧･
                    .row
                        .col-12.col-md-6.img-flex
                            img(src="public/images/news02.png", alt="")
                        .col-12.col-md-6.img-flex.order-md-1
                            .news-content
                                h3 展覽日期
                                p Coming soon~
                                h3 展覽名稱
                                p 2022 貼紙大亂鬥
                                h3 展覽介紹
                                p 在這裡﻿，貼紙控的你會無法控制的全都想要！12組選手帶來滿滿的貼紙互相鬥陣，就是要讓你經歷一場眼花撩亂的視覺饗宴！
    // 頁尾開始
    footer
        .container
            .row
                dl.col-12.col-md-3.text-left
                    dt 
                        dd
                            img(src="public/images/logo02.png", alt="綠。文具坊")
                        dd 
                            p Copyright © 2022 綠。文具坊
                        dd 
                            p 僅做為課程練習使用，不做任何商業行為。
                dl.col-12.col-md-3.text-left
                    dt 
                        dd 
                            p 地址：彰化縣彰化市光復路
                        dd 
                            p 營業時間：14:00~20:00(不定時公休)
                dl.col-12.col-md-3.text-left
                    dt HOW TO SHOP
                        dd 
                            a(href="fqa.html") 購物說明
                        dd 
                            a(href="fqa.html") 常見問題
                        dd 
                            a(href="#") 聯絡我們
                dl.col-12.col-md-3.text-left
                    dt ABOUT US
                        dd 
                            a(href="about-us.html") 品牌故事
                        dd 
                            a(href="#") 條款與細則
                        dd 
                            a(href="#") 隱私權政策

    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
    script(src="public/js/WOW-master/dist/wow.min.js")
    script(src="public/js/fqa-script.js") 
