doctype html
head 
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 產品列表|綠。文具坊
    link(rel='stylesheet' href='public/css/style.css')
    link(rel="stylesheet", href="public/css/product-list.css")
    link(rel="shortcut icon",href="public/images/favicon.ico")
    
body 
    //頁首開始
    header 
        .row
            .logo-wrapper.container
                span 
                a(href="index.html" )
                    picture
                        source.img-fluid(srcset="public/images/logo03.png" media="(max-width: 767px)")
                        img(src="public/images/logo01.png", alt="綠。文具坊")
                ul.icon-wrapper 
                    li
                        a(href="#")
                            img(src="public/images/search.png", alt="搜尋")
                    li
                        a(href="login.html")
                            img(src="public/images/user.png", alt="會員中心")
                    li
                        a(href="#")
                            img(src="public/images/shopping-cart.png", alt="購物車")
            
            a#btn-nav-switch.icon-menu.display-md-none(href="javascript:;")
                img(src="public/images/menu.png", alt="")
            
            nav 
                ul.container 
                    li 
                        a(href="about-us.html") 關於我們
                    li 
                        a(href="news.html") 最新消息
                    li 
                        a(href="javascrip:;") 產品類別
                        ul.submenu 
                            li 
                                a(href="product-list.html") 紙製品
                            li 
                                a(href="product-list.html") 文具
                            li 
                                a(href="product-list.html") 雜貨
                            li 
                                a(href="product-list.html") 童玩
                    li 
                        a(href="letter-space.html") 寫信空間
    //頁首結尾
    
    .product-bg
      .container
        .row
          // 麵包屑
          .breadcrumb.col-12
              a(href='index.html') 首頁
              span  > 
              a(href='product-list.html') 產品類別

          // 左列表
          aside.col-12.col-md-3.col-lg-2
            ul
              li
                a.btn-primary(href='#') 紙製品
                ul.product-list-submenu 
                  li 
                      a(href="#") 信封
                  li 
                      a(href="#") 信紙
                  li 
                      a(href="#") 包裝紙
                  li 
                      a(href="#") 明信片
                  li 
                      a(href="#") 筆記本
                  li 
                      a(href="#") 手帳本
              li
                a.btn-primary(href='#') 文具
                ul.product-list-submenu 
                  li 
                      a(href="#") 鋼筆
                  li 
                      a(href="#") 鋼筆墨水
              li
                a.btn-primary(href='#') 雜貨
                ul.product-list-submenu 
                  li 
                      a(href="#") 紙膠帶
                  li 
                      a(href="#") 花藝品
                  li 
                      a(href="#") 貼紙
                  li 
                      a(href="#") 印章
              li
                a.btn-primary(href='#') 童玩
                ul.product-list-submenu 
                  li 
                      a(href="#") 戳戳樂
                  li 
                      a(href="#") 彈珠
                  li 
                      a(href="#") 鬥片

          // 右欄位
          main.col-12.col-md-9.col-1g-10.product-section-1
            .row
              .col-6.col-md-6.col-lg-4
                .product-img
                  a.img-wrap(href='#')
                    .img-overlay
                      img.img-fluid(src='public/images/product06.png' alt='')
                  a.shop-cart.text-center(href='#') 加入購物車
                a.product-title.text-center(href='#') 森綠(Emma)|速寫墨水
                p.product-text.text-center $450
              .col-6.col-md-6.col-lg-4
                .product-img
                  a.img-wrap(href='#')
                    .img-overlay
                      img.img-fluid(src='public/images/product04.png' alt='')
                  a.shop-cart.text-center(href='#') 加入購物車
                a.product-title.text-center(href='#') 淺藍(Marlene)|速寫墨水
                p.product-text.text-center $450
              .col-6.col-md-6.col-lg-4
                .product-img
                  a.img-wrap(href='#')
                    .img-overlay
                      img.img-fluid(src='public/images/product05.png' alt='')
                  a.shop-cart.text-center(href='#') 加入購物車
                a.product-title.text-center(href='#') 橘黃(Carmen)|速寫墨水
                p.product-text.text-center $450
              .col-6.col-md-6.col-lg-4
                .product-img
                  a.img-wrap(href='#')
                    .img-overlay
                      img.img-fluid(src='public/images/product01.png' alt='')
                  a.shop-cart.text-center(href='#') 加入購物車
                a.product-title.text-center(href='#') 秘境|浮游花瓶
                p.product-text.text-center $300
              .col-6.col-md-6.col-lg-4
                .product-img
                  a.img-wrap(href='#')
                    .img-overlay
                      img.img-fluid(src='public/images/product02.png' alt='')
                  a.shop-cart.text-center(href='#') 加入購物車
                a.product-title.text-center(href='#') 春之聲|浮游花瓶
                p.product-text.text-center $300
              .col-6.col-md-6.col-lg-4
                .product-img
                  a.img-wrap(href='#')
                    .img-overlay
                      img.img-fluid(src='public/images/product03.png' alt='')
                  a.shop-cart.text-center(href='#') 加入購物車
                a.product-title.text-center(href='#') 探索|浮游花瓶
                p.product-text.text-center $300
              .col-6.col-md-6.col-lg-4
                .product-img
                  a.img-wrap(href='#')
                    .img-overlay
                      img.img-fluid(src='public/images/product12.jpg' alt='')
                  a.shop-cart.text-center(href='#') 加入購物車
                a.product-title.text-center(href='#') 晚安小鎮|貼紙包
                p.product-text.text-center $270
              .col-6.col-md-6.col-lg-4
                .product-img
                  a.img-wrap(href='#')
                    .img-overlay
                      img.img-fluid(src='public/images/product11.jpg' alt='')
                  a.shop-cart.text-center(href='#') 加入購物車
                a.product-title.text-center(href='#') 午後的白日夢|貼紙包
                p.product-text.text-center $270
              .col-6.col-md-6.col-lg-4
                .product-img
                  a.img-wrap(href='#')
                    .img-overlay
                      img.img-fluid(src='public/images/product10.jpg' alt='')
                  a.shop-cart.text-center(href='#') 加入購物車
                a.product-title.text-center(href='#') 花屋的門窗|貼紙包
                p.product-text.text-center $270
              .col-6.col-md-6.col-lg-4
                .product-img
                  a.img-wrap(href='#')
                    .img-overlay
                      img.img-fluid(src='public/images/product07.png' alt='')
                  a.shop-cart.text-center(href='#') 加入購物車
                a.product-title.text-center(href='#') 浮游花試管(白)|畢業禮物
                p.product-text.text-center $200
              .col-6.col-md-6.col-lg-4
                .product-img
                  a.img-wrap(href='#')
                    .img-overlay
                      img.img-fluid(src='public/images/product08.png' alt='')
                  a.shop-cart.text-center(href='#') 加入購物車
                a.product-title.text-center(href='#') 浮游花試管(紫)|畢業禮物
                p.product-text.text-center $200
              .col-6.col-md-6.col-lg-4
                .product-img
                  a.img-wrap(href='#')
                    .img-overlay
                      img.img-fluid(src='public/images/product09.png' alt='')
                  a.shop-cart.text-center(href='#') 加入購物車
                a.product-title.text-center(href='#') 浮游花試管(橘)|畢業禮物
                p.product-text.text-center $200

    // 頁尾開始
    footer
        .container
            .row
                dl.col-12.col-md-3.text-left
                    dt 
                        dd
                            img(src="public/images/logo02.png", alt="綠。文具坊")
                        dd 
                            p Copyright © 2022 綠。文具坊
                        dd 
                            p 僅做為課程練習使用，不做任何商業行為。
                dl.col-12.col-md-3.text-left
                    dt 
                        dd 
                            p 地址：彰化縣彰化市光復路
                        dd 
                            p 營業時間：14:00~20:00(不定時公休)
                dl.col-12.col-md-3.text-left
                    dt HOW TO SHOP
                        dd 
                            a(href="fqa.html") 購物說明
                        dd 
                            a(href="fqa.html") 常見問題
                        dd 
                            a(href="#") 聯絡我們
                dl.col-12.col-md-3.text-left
                    dt ABOUT US
                        dd 
                            a(href="about-us.html") 品牌故事
                        dd 
                            a(href="#") 條款與細則
                        dd 
                            a(href="#") 隱私權政策

    a.page-top(href="javascript:;") top
    script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
    script(src="public/js/WOW-master/dist/wow.min.js")
    script(src="public/js/fqa-script.js") 

